# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# Listen for HTTP requests on this port
# PORT=3000

# Secret used to sign JWT tokens which are passed to/fro with Jenks
STATUS_SECRET=fixmeJustForProbot

# Secret used to authenticate requests from Jenkins
STATUS_CRED=fixmeUser:fixmePassword

# Credentials for firing Jenkins jobs
JENKINS_URL="https://user:apitoken@example.com/jenkins"
#JENKINS_PR_JOB="https://user:apitoken@example.com/jenkins/Job/Extension-PR/buildWithParameters?token=abcd1234"
